In [33]:
import requests
import json
import pandas as pd
from config import api_key, fbi_key,pword
from sqlalchemy import create_engine
import warnings
import time
warnings.filterwarnings('ignore')

In [134]:
#define feature generator for url api call
def feature_gen(length,pre):
    #get numbers for indicator range
    nums = [str(x).zfill(3) for x in range(1,length+1)]
    prefix = pre
    suffix = 'E'
    #create indicator list
    indic = [prefix+x+suffix for x in nums]
    #add to string
    features = ''
    #add to url string
    for y in indic:
        features = features + ','+ y
    url = f'https://api.census.gov/data/2018/acs/acs5?get=NAME{features}&for=us:*&key={api_key}'
    print(url)
    #get response
    response = requests.get(url)
    print(response)
    #jsonify
    response=response.json()
    global census_df
    #create census_df
    census_df = pd.DataFrame(response)
    census_df.head()
    #set column names
    census_df.columns = census_df.iloc[0]
    #remove first row
    census_df = census_df.iloc[1:]
    #get col list from census_df
    col_list = list(census_df.columns)
    new_names = []
    #get label names and append to new_names list
    for x in col_list:
        if x not in label_df['name'].values:
            new_names.append(x)
        else:
            for i in range(len(label_df)):
                if label_df.loc[i,'name'] == x:
                    new_names.append(label_df.loc[i,'label'])
                    break
    #replace census_df column names
    census_df.columns = new_names
    return census_df.head()

In [130]:
label_url = 'https://api.census.gov/data/2018/acs/acs5/variables'
label_response = requests.get(label_url)
print(label_response)
label_response = label_response.json()
label_df = pd.DataFrame.from_records(label_response)

label_df.columns = label_df.iloc[0]
label_df = label_df.iloc[4:]
label_df.reset_index(inplace=True, drop=True)
label_df.head()

<Response [200]>

,name,label,concept
0,B24022_060E,Estimate!!Total!!Female!!Service occupations!!...,SEX BY OCCUPATION AND MEDIAN EARNINGS IN THE P...
1,B19001B_014E,"Estimate!!Total!!$100,000 to $124,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...
2,B07007PR_019E,Estimate!!Total!!Moved from different municipi...,GEOGRAPHICAL MOBILITY IN THE PAST YEAR BY CITI...
3,B19101A_004E,"Estimate!!Total!!$15,000 to $19,999",FAMILY INCOME IN THE PAST 12 MONTHS (IN 2018 I...
4,B24022_061E,Estimate!!Total!!Female!!Service occupations!!...,SEX BY OCCUPATION AND MEDIAN EARNINGS IN THE P...

In [158]:
#get household data by age
feature_gen(21,'B25007_')

https://api.census.gov/data/2018/acs/acs5?get=NAME,B25007_001E,B25007_002E,B25007_003E,B25007_004E,B25007_005E,B25007_006E,B25007_007E,B25007_008E,B25007_009E,B25007_010E,B25007_011E,B25007_012E,B25007_013E,B25007_014E,B25007_015E,B25007_016E,B25007_017E,B25007_018E,B25007_019E,B25007_020E,B25007_021E&for=us:*&key=85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98
<Response [200]>

,NAME,Estimate!!Total,Estimate!!Total!!Owner occupied,Estimate!!Total!!Owner occupied!!Householder 15 to 24 years,Estimate!!Total!!Owner occupied!!Householder 25 to 34 years,Estimate!!Total!!Owner occupied!!Householder 35 to 44 years,Estimate!!Total!!Owner occupied!!Householder 45 to 54 years,Estimate!!Total!!Owner occupied!!Householder 55 to 59 years,Estimate!!Total!!Owner occupied!!Householder 60 to 64 years,Estimate!!Total!!Owner occupied!!Householder 65 to 74 years,...,Estimate!!Total!!Renter occupied!!Householder 15 to 24 years,Estimate!!Total!!Renter occupied!!Householder 25 to 34 years,Estimate!!Total!!Renter occupied!!Householder 35 to 44 years,Estimate!!Total!!Renter occupied!!Householder 45 to 54 years,Estimate!!Total!!Renter occupied!!Householder 55 to 59 years,Estimate!!Total!!Renter occupied!!Householder 60 to 64 years,Estimate!!Total!!Renter occupied!!Householder 65 to 74 years,Estimate!!Total!!Renter occupied!!Householder 75 to 84 years,Estimate!!Total!!Renter occupied!!Householder 85 years and over,us
1,United States,119730128,76444810,607410,6946746,11929967,15816417,8959219,8655435,13694250,...,3862720,11308267,8669582,7153044,3137380,2626313,3471817,1876192,1180003,1

In [159]:
age_df = census_df

In [160]:
#save as csv
age_df.to_csv("data/age.csv")

In [137]:
#get size data
feature_gen(17,'B25009_')

https://api.census.gov/data/2018/acs/acs5?get=NAME,B25009_001E,B25009_002E,B25009_003E,B25009_004E,B25009_005E,B25009_006E,B25009_007E,B25009_008E,B25009_009E,B25009_010E,B25009_011E,B25009_012E,B25009_013E,B25009_014E,B25009_015E,B25009_016E,B25009_017E&for=us:*&key=85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98
<Response [200]>

,NAME,Estimate!!Total,Estimate!!Total!!Owner occupied,Estimate!!Total!!Owner occupied!!1-person household,Estimate!!Total!!Owner occupied!!2-person household,Estimate!!Total!!Owner occupied!!3-person household,Estimate!!Total!!Owner occupied!!4-person household,Estimate!!Total!!Owner occupied!!5-person household,Estimate!!Total!!Owner occupied!!6-person household,Estimate!!Total!!Owner occupied!!7-or-more person household,Estimate!!Total!!Renter occupied,Estimate!!Total!!Renter occupied!!1-person household,Estimate!!Total!!Renter occupied!!2-person household,Estimate!!Total!!Renter occupied!!3-person household,Estimate!!Total!!Renter occupied!!4-person household,Estimate!!Total!!Renter occupied!!5-person household,Estimate!!Total!!Renter occupied!!6-person household,Estimate!!Total!!Renter occupied!!7-or-more person household,us
1,United States,119730128,76444810,17343470,28746125,12162307,10638861,4731952,1745492,1076603,43285318,15868786,11824177,6597377,4882103,2453350,1010574,648951,1

In [138]:
size_df = census_df

In [156]:
#save as csv
size_df.to_csv("data/size.csv")

In [139]:
#get household type
feature_gen(49,'B25011_')

https://api.census.gov/data/2018/acs/acs5?get=NAME,B25011_001E,B25011_002E,B25011_003E,B25011_004E,B25011_005E,B25011_006E,B25011_007E,B25011_008E,B25011_009E,B25011_010E,B25011_011E,B25011_012E,B25011_013E,B25011_014E,B25011_015E,B25011_016E,B25011_017E,B25011_018E,B25011_019E,B25011_020E,B25011_021E,B25011_022E,B25011_023E,B25011_024E,B25011_025E,B25011_026E,B25011_027E,B25011_028E,B25011_029E,B25011_030E,B25011_031E,B25011_032E,B25011_033E,B25011_034E,B25011_035E,B25011_036E,B25011_037E,B25011_038E,B25011_039E,B25011_040E,B25011_041E,B25011_042E,B25011_043E,B25011_044E,B25011_045E,B25011_046E,B25011_047E,B25011_048E,B25011_049E&for=us:*&key=85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98
<Response [200]>

,NAME,Estimate!!Total,Estimate!!Total!!Owner occupied,Estimate!!Total!!Owner occupied!!Family households,Estimate!!Total!!Owner occupied!!Family households!!Married-couple family,Estimate!!Total!!Owner occupied!!Family households!!Married-couple family!!Householder 15 to 34 years,Estimate!!Total!!Owner occupied!!Family households!!Married-couple family!!Householder 35 to 64 years,Estimate!!Total!!Owner occupied!!Family households!!Married-couple family!!Householder 65 years and over,Estimate!!Total!!Owner occupied!!Family households!!Other family,"Estimate!!Total!!Owner occupied!!Family households!!Other family!!Male householder, no wife present",...,Estimate!!Total!!Renter occupied!!Nonfamily households,Estimate!!Total!!Renter occupied!!Nonfamily households!!Householder living alone,Estimate!!Total!!Renter occupied!!Nonfamily households!!Householder living alone!!Householder 15 to 34 years,Estimate!!Total!!Renter occupied!!Nonfamily households!!Householder living alone!!Householder 35 to 64 years,Estimate!!Total!!Renter occupied!!Nonfamily households!!Householder living alone!!Householder 65 years and over,Estimate!!Total!!Renter occupied!!Nonfamily households!!Householder not living alone,Estimate!!Total!!Renter occupied!!Nonfamily households!!Householder not living alone!!Householder 15 to 34 years,Estimate!!Total!!Renter occupied!!Nonfamily households!!Householder not living alone!!Householder 35 to 64 years,Estimate!!Total!!Renter occupied!!Nonfamily households!!Householder not living alone!!Householder 65 years and over,us
1,United States,119730128,76444810,56066627,46051807,4540491,29622173,11889143,10014820,3123184,...,20654842,15868786,4128447,7369985,4370354,4786056,3204136,1380045,201875,1

In [140]:
type_df = census_df

In [ ]:
#save as csv
type_df.to_csv("data/type.csv")

In [143]:
#household by children
feature_gen(17,'B25012_')

https://api.census.gov/data/2018/acs/acs5?get=NAME,B25012_001E,B25012_002E,B25012_003E,B25012_004E,B25012_005E,B25012_006E,B25012_007E,B25012_008E,B25012_009E,B25012_010E,B25012_011E,B25012_012E,B25012_013E,B25012_014E,B25012_015E,B25012_016E,B25012_017E&for=us:*&key=85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98
<Response [200]>

,NAME,Estimate!!Total,Estimate!!Total!!Owner-occupied housing units,Estimate!!Total!!Owner-occupied housing units!!With related children of the householder under 18,Estimate!!Total!!Owner-occupied housing units!!With related children of the householder under 18!!With own children of the householder under 18,Estimate!!Total!!Owner-occupied housing units!!With related children of the householder under 18!!With own children of the householder under 18!!Under 6 years only,Estimate!!Total!!Owner-occupied housing units!!With related children of the householder under 18!!With own children of the householder under 18!!Under 6 years and 6 to 17 years,Estimate!!Total!!Owner-occupied housing units!!With related children of the householder under 18!!With own children of the householder under 18!!6 to 17 years,Estimate!!Total!!Owner-occupied housing units!!With related children of the householder under 18!!No own children of the householder under 18,Estimate!!Total!!Owner-occupied housing units!!No related children of the householder under 18,Estimate!!Total!!Renter-occupied housing units,Estimate!!Total!!Renter-occupied housing units!!With related children of the householder under 18,Estimate!!Total!!Renter-occupied housing units!!With related children of the householder under 18!!With own children of the householder under 18,Estimate!!Total!!Renter-occupied housing units!!With related children of the householder under 18!!With own children of the householder under 18!!Under 6 years only,Estimate!!Total!!Renter-occupied housing units!!With related children of the householder under 18!!With own children of the householder under 18!!Under 6 years and 6 to 17 years,Estimate!!Total!!Renter-occupied housing units!!With related children of the householder under 18!!With own children of the householder under 18!!6 to 17 years,Estimate!!Total!!Renter-occupied housing units!!With related children of the householder under 18!!No own children of the householder under 18,Estimate!!Total!!Renter-occupied housing units!!No related children of the householder under 18,us
1,United States,119730128,76444810,22905266,20424472,3867625,3655962,12900885,2480794,53539544,43285318,14165516,13010627,3376866,3014691,6619070,1154889,29119802,1

In [144]:
child_df = census_df

In [157]:
#save as csv
child_df.to_csv("data/child.csv")

In [145]:
#household by education
feature_gen(11,'B25013_')

https://api.census.gov/data/2018/acs/acs5?get=NAME,B25013_001E,B25013_002E,B25013_003E,B25013_004E,B25013_005E,B25013_006E,B25013_007E,B25013_008E,B25013_009E,B25013_010E,B25013_011E&for=us:*&key=85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98
<Response [200]>

,NAME,Estimate!!Total,Estimate!!Total!!Owner-occupied housing units,Estimate!!Total!!Owner-occupied housing units!!Less than high school graduate,Estimate!!Total!!Owner-occupied housing units!!High school graduate (including equivalency),Estimate!!Total!!Owner-occupied housing units!!Some college or associate's degree,Estimate!!Total!!Owner-occupied housing units!!Bachelor's degree or higher,Estimate!!Total!!Renter-occupied housing units,Estimate!!Total!!Renter-occupied housing units!!Less than high school graduate,Estimate!!Total!!Renter-occupied housing units!!High school graduate (including equivalency),Estimate!!Total!!Renter-occupied housing units!!Some college or associate's degree,Estimate!!Total!!Renter-occupied housing units!!Bachelor's degree or higher,us
1,United States,119730128,76444810,6125523,18017123,22958513,29343651,43285318,6417332,11417261,14080823,11369902,1

In [146]:
educate_df = census_df

In [161]:
#save as csv
educate_df.to_csv("data/educate.csv")

In [147]:
#household by type & children
feature_gen(27,'B25115_')

https://api.census.gov/data/2018/acs/acs5?get=NAME,B25115_001E,B25115_002E,B25115_003E,B25115_004E,B25115_005E,B25115_006E,B25115_007E,B25115_008E,B25115_009E,B25115_010E,B25115_011E,B25115_012E,B25115_013E,B25115_014E,B25115_015E,B25115_016E,B25115_017E,B25115_018E,B25115_019E,B25115_020E,B25115_021E,B25115_022E,B25115_023E,B25115_024E,B25115_025E,B25115_026E,B25115_027E&for=us:*&key=85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98
<Response [200]>

,NAME,Estimate!!Total,Estimate!!Total!!Owner occupied,Estimate!!Total!!Owner occupied!!Family households,Estimate!!Total!!Owner occupied!!Family households!!Married-couple family,Estimate!!Total!!Owner occupied!!Family households!!Married-couple family!!With own children of the householder under 18 years,Estimate!!Total!!Owner occupied!!Family households!!Married-couple family!!No own children of the householder under 18 years,Estimate!!Total!!Owner occupied!!Family households!!Other family,"Estimate!!Total!!Owner occupied!!Family households!!Other family!!Male householder, no wife present","Estimate!!Total!!Owner occupied!!Family households!!Other family!!Male householder, no wife present!!With own children of the householder under 18 years",...,Estimate!!Total!!Renter occupied!!Family households!!Married-couple family!!No own children of the householder under 18 years,Estimate!!Total!!Renter occupied!!Family households!!Other family,"Estimate!!Total!!Renter occupied!!Family households!!Other family!!Male householder, no wife present","Estimate!!Total!!Renter occupied!!Family households!!Other family!!Male householder, no wife present!!With own children of the householder under 18 years","Estimate!!Total!!Renter occupied!!Family households!!Other family!!Male householder, no wife present!!No own children of the householder under 18 years","Estimate!!Total!!Renter occupied!!Family households!!Other family!!Female householder, no husband present","Estimate!!Total!!Renter occupied!!Family households!!Other family!!Female householder, no husband present!!With own children of the householder under 18 years","Estimate!!Total!!Renter occupied!!Family households!!Other family!!Female householder, no husband present!!No own children of the householder under 18 years",Estimate!!Total!!Renter occupied!!Nonfamily households,us
1,United States,119730128,76444810,56066627,46051807,16636528,29415279,10014820,3123184,1274122,...,5661243,10865335,2698791,1455220,1243571,8166544,5451509,2715035,20654842,1

In [149]:
child_type_df = census_df

In [163]:
#save as csv
child_type_df.to_csv("data/child_type.csv")

In [150]:
feature_gen(24,'B25118_')

https://api.census.gov/data/2018/acs/acs5?get=NAME,B25118_001E,B25118_002E,B25118_003E,B25118_004E,B25118_005E,B25118_006E,B25118_007E,B25118_008E,B25118_009E,B25118_010E,B25118_011E,B25118_012E,B25118_013E,B25118_014E,B25118_015E,B25118_016E,B25118_017E,B25118_018E,B25118_019E,B25118_020E,B25118_021E,B25118_022E,B25118_023E,B25118_024E&for=us:*&key=85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98
<Response [200]>

,NAME,Estimate!!Total,Estimate!!Total!!Owner occupied,"Estimate!!Total!!Owner occupied!!Less than $5,000","Estimate!!Total!!Owner occupied!!$5,000 to $9,999","Estimate!!Total!!Owner occupied!!$10,000 to $14,999","Estimate!!Total!!Owner occupied!!$15,000 to $19,999","Estimate!!Total!!Owner occupied!!$20,000 to $24,999","Estimate!!Total!!Owner occupied!!$25,000 to $34,999","Estimate!!Total!!Owner occupied!!$35,000 to $49,999",...,"Estimate!!Total!!Renter occupied!!$5,000 to $9,999","Estimate!!Total!!Renter occupied!!$10,000 to $14,999","Estimate!!Total!!Renter occupied!!$15,000 to $19,999","Estimate!!Total!!Renter occupied!!$20,000 to $24,999","Estimate!!Total!!Renter occupied!!$25,000 to $34,999","Estimate!!Total!!Renter occupied!!$35,000 to $49,999","Estimate!!Total!!Renter occupied!!$50,000 to $74,999","Estimate!!Total!!Renter occupied!!$75,000 to $99,999","Estimate!!Total!!Renter occupied!!$100,000 to $149,999",us
1,United States,119730128,76444810,1413840,1164050,2091274,2411482,2673570,5707218,8636625,...,2545112,3415777,3076807,2985102,5410216,6488196,7346389,4011382,3455919,1

In [151]:
income_df = census_df

In [164]:
#save as csv
income_df.to_csv("data/income.csv")

In [152]:
feature_gen(45,'B25128_')

https://api.census.gov/data/2018/acs/acs5?get=NAME,B25128_001E,B25128_002E,B25128_003E,B25128_004E,B25128_005E,B25128_006E,B25128_007E,B25128_008E,B25128_009E,B25128_010E,B25128_011E,B25128_012E,B25128_013E,B25128_014E,B25128_015E,B25128_016E,B25128_017E,B25128_018E,B25128_019E,B25128_020E,B25128_021E,B25128_022E,B25128_023E,B25128_024E,B25128_025E,B25128_026E,B25128_027E,B25128_028E,B25128_029E,B25128_030E,B25128_031E,B25128_032E,B25128_033E,B25128_034E,B25128_035E,B25128_036E,B25128_037E,B25128_038E,B25128_039E,B25128_040E,B25128_041E,B25128_042E,B25128_043E,B25128_044E,B25128_045E&for=us:*&key=85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98
<Response [200]>

,NAME,Estimate!!Total,Estimate!!Total!!Owner occupied,Estimate!!Total!!Owner occupied!!Householder 15 to 34 years,Estimate!!Total!!Owner occupied!!Householder 15 to 34 years!!Moved in 2017 or later,Estimate!!Total!!Owner occupied!!Householder 15 to 34 years!!Moved in 2015 to 2016,Estimate!!Total!!Owner occupied!!Householder 15 to 34 years!!Moved in 2010 to 2014,Estimate!!Total!!Owner occupied!!Householder 15 to 34 years!!Moved in 2000 to 2009,Estimate!!Total!!Owner occupied!!Householder 15 to 34 years!!Moved in 1990 to 1999,Estimate!!Total!!Owner occupied!!Householder 15 to 34 years!!Moved in 1989 or earlier,...,Estimate!!Total!!Renter occupied!!Householder 35 to 64 years!!Moved in 1990 to 1999,Estimate!!Total!!Renter occupied!!Householder 35 to 64 years!!Moved in 1989 or earlier,Estimate!!Total!!Renter occupied!!Householder 65 years and over,Estimate!!Total!!Renter occupied!!Householder 65 years and over!!Moved in 2017 or later,Estimate!!Total!!Renter occupied!!Householder 65 years and over!!Moved in 2015 to 2016,Estimate!!Total!!Renter occupied!!Householder 65 years and over!!Moved in 2010 to 2014,Estimate!!Total!!Renter occupied!!Householder 65 years and over!!Moved in 2000 to 2009,Estimate!!Total!!Renter occupied!!Householder 65 years and over!!Moved in 1990 to 1999,Estimate!!Total!!Renter occupied!!Householder 65 years and over!!Moved in 1989 or earlier,us
1,United States,119730128,76444810,7554156,589775,1589591,3633167,1531867,140866,68890,...,1035094,490950,6528012,352446,895272,2281170,1696503,626911,675710,1

In [153]:
tenure_year_df = census_df

In [165]:
tenure_year_df.to_csv("data/tenure_year_df.csv")